body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-85px;
  width:2732px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2732px;
  height:1536px;
}
#u17265 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:154px;
  width:2732px;
  height:1536px;
  display:flex;
}
#u17265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#DD1F01;
  line-height:28px;
}
#u17266 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:684px;
  width:224px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#DD1F01;
  line-height:28px;
}
#u17266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
